.idea
cmake-build-pos-inventory-system
cmake-build-debug
cmake-build-release
cmake-build-release-static
/build
*.log
*.tmp
*.bak
*.swp
.DS_Store
.vscode
*.exe
*.dll
*.so
*.dylib
*.o
*.obj
*.class
*.pyc